@import '../components/theme.css';

*{ box-sizing: border-box; }
html, body, #root { height: 100%; }
body{
  margin: 0;
  background: var(--c-bg);
  color: var(--c-text);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

button{ font-weight: 600; }
input, button { outline: none; }

a { color: inherit; }
